@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: "open_sansregular";
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: #e6dccc;
}

.flex-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    box-shadow: 4px 4px 10px rgb(156, 156, 156);
    border-radius: 12px;
    overflow: hidden;
}

a:link,
a:visited {
    color: inherit;
}

.sidebar {
    width: 500px;
    position: relative;
    color: white;
}

.logo-panel {
    font-size: 80px;
    line-height: 1;
    background: hsla(0, 0%, 0%, 0.400);
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 186px;
    padding: 10px 0;
}

.logo-title {
    font-family: 'norsebold';
}

.logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

.logo-subtitle {
    font-size: 16px;
    letter-spacing: 4px;
}

.credit {
    position: absolute;
    font-size: 12px;
    width: 100%;
    text-align: center;
    bottom: 12px;
}

.main {
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    width: 900px;
    position: relative;
}

.welcome {
    max-inline-size: 55ch;
    font-size: 22px;
    font-family: "open_sanssemibold";
    margin-left: 30px;
}

.form-container {
    background: white;
    font-family: "open_sanssemibold";
    margin-top: 48px;
    padding: 24px 0 48px 0;
    box-shadow: 0 6px 6px rgb(214, 214, 214);
}

.form-row {
    display: flex;
    color: rgb(66, 66, 66);
    padding-left: 30px;
    letter-spacing: 2px;
    font-size: 10px;
}

.form-row span {
    margin-top: 28px;
    padding-right: 80px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    font-size: 16px;
    font-family: "open_sansregular";
    padding: 4px 8px;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    width: 260px;
}

input:focus {
    outline: none;
    border: 1px solid rgb(0, 0, 223);
    box-shadow: 2px 2px 6px rgb(194, 194, 194);
}

input + div {
    position: relative;
}

input:invalid {
    border: 1px solid darkred;
}

input[type="password"]:invalid + div::after {
    position: absolute;
    content: "*Password needs to include: UpperCase, LowerCase, Number/SpecialChar and min 8 Chars";
    font-size: 10px;
    color: darkred;
    letter-spacing: normal;
    padding: 2px 2px;
}

button[type="submit"] {
    background-color: rgb(31, 67, 134);
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 800;
    font-size: 16px;
    padding: 16px 42px;
    margin: 48px 0 24px 30px;
    cursor: pointer;
}

.login {
    padding-left: 30px;
    font-size: 14px;
}

.login a {
    text-decoration: none;
    color: rgb(31, 67, 134);
}

.fine-print {
    padding-left: 30px;
    font-size: 12px;
    position: absolute;
    bottom: 12px;
}