@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

body {
    display: flex;
}

a:link {
    color: inherit;
}

.sidebar {
    width: 500px;
    position: relative;
    color: white;
}

.logo-panel {
    font-family: 'norsebold';
    font-size: 80px;
    line-height: 1;
    background: hsla(0, 0%, 0%, 0.400);
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    padding: 10px 0;
}

.logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 6px;
}

.credit {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 100%;
    text-align: center;
    bottom: 10px;
}



.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

